
#box{
    color: black;
    margin: 0px;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    width : 65vw;
    height: 40vh;;
} 
#study{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-style:double;
    border-width:15px;
    border-color: black;
    transition : all 0.5s;
    display:flex;
    justify-content:center;
    align-items:center;
    border-style:double;
    color: black;
    background-color: white;

}

#content{
    color: white;
    font-size: 10px;
}
#stock,#music{
transition : all 0.5s;
display:flex;
justify-content:center;
align-items:center;
border-style:double;
color: black;
background-color: white;
border-width:15px;
}
#etc{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition : all 0.5s;
    display:flex;
    justify-content:center;
    align-items:center;
    border-style:double;
    color: black;
    background-color: white;
    border-width:15px;

}

body{
    font-family: 'Inter', sans-serif;
    background-color:black;
    font-size:20px;
}

#study:hover,#music:hover,#stock:hover,#etc:hover{
    transform:scale(1.25);
}
a{
    text-decoration: none;
    color: black;
}

#study_img, #stock_img, #music_img, #etc_img{
    transition : all 1.5s;
}
#study_img:hover, #stock_img:hover, #music_img:hover, #etc_img:hover{
    transform:rotate(360deg) scale(1.5);
}